body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}


/* headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  color: #fff;
  background-color: #ff4c68;

} 

.white-section {
    background-color: #fff;
}



/* Navigation bar */

.navbar {
  /* push down elements below navbar to create space & aling with the rest title by removing default padding to navbar*/
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

/* adding space between navigation links */
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  color: ;
}

/* Download Buttons */
.downloadButtons {
  margin: 5% 3% 5% 0;
}


/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title image */
.titleImg {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  /* adding some space */

  position: relative;
}

.features-titles {
  font-size: 1.5rem;

}

.features-box {

  padding: 5%;
}

.features-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
  cursor: pointer;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}



/* Footer Section */
#footer {
  border-color: #fff;
}

.social-icons {
  margin: 1.5rem .8rem;
}

/* Media Query breakpoints */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .titleImg {
    position: static;
    transform: rotate(0deg);
  }
}